<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248617715901-868og2m0odn647r8pq307h3p6lfi63m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248617715901-868og2m0odn647r8pq307h3p6lfi63m2</string>
	<key>API_KEY</key>
	<string>AIzaSyBahyx2kqNC0nAg2-PU9xg3t5-jl9GOKKg</string>
	<key>GCM_SENDER_ID</key>
	<string>248617715901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerusa04.IronTrivia</string>
	<key>PROJECT_ID</key>
	<string>irontrivia</string>
	<key>STORAGE_BUCKET</key>
	<string>irontrivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:248617715901:ios:25f447cabced8d3a</string>
	<key>DATABASE_URL</key>
	<string>https://irontrivia.firebaseio.com</string>
</dict>
</plist>